*{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    
    color:#000;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.content{
    width: 100%;
    margin: 30px auto;
    box-shadow: 0 0 20px 0 rgba(154, 205, 180, 0.37);
}
.logo{
    text-align: center;
    font-size:  3em;
}
.logo span{
    
}
.contact-wrapper{
    
}
.contact-wrapper > * {
    padding: 1em;
}


.contact-form form{
   border-top: 1px solid #d63021;
}


.contact-form form p{
    margin: 0;
    padding: 1em;
}




.contact-form form input,
.contact-form form select,
.contact-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    font-size: 30px;
    border-bottom: 1px solid #d63021;
}
.contact-form form button{
    border:0;
    text-transform: uppercase;
    padding: 1em;
    cursor: pointer;
}
.contact-form button:hover,
.contact-form button:focus{
    background: #fff;
    color: #000;
    transition: background-color 1s ease-out;
    outline:0;
}

.contact-info{
}
.contact-info h4,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-info ul{
    list-style: none;
    padding: 0;
}
.contact-info ul li{
    padding: .3em;
}
/*pantallas grandes*/
@media(min-width:700px){
    body{
        font-size: 20px;
        padding: 0 4rem;
    }
    .contact-wrapper{
        display: flex;
    }
    .contact-form form{
       display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
    }
    .contact-form > *{
       right: 0;
    }
    .block{
        	display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-end;
    }
    .contact-form form button,
    .contact-form form input,
    .contact-form form select,
    .contact-form form textarea{
       
        font-size: 15px;
    }
    
    .contact-wrapper > *{
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p{
        text-align: left;
    }
}